<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <automationWorker type="Sitecore.Analytics.Automation.AutomationWorker, Sitecore.Analytics.Automation" singleInstance="true">
      <Interval>00:00:01</Interval>
    </automationWorker>
    
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">127.0.0.1</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
