<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>  
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value">127.0.0.1</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
